<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- L'app ne parle qu'a l'API Lymarks et a Clerk (Security §2). Le debug
         l'ajoute tout seul, la release non. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="Lymarks"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- singleTask : le lien de retour OAuth (lymarks://oauth/…) lance par
             l'onglet Chrome arrive dans l'instance existante (onNewIntent) et
             referme l'onglet, au lieu de creer une seconde instance
             (recommandation app_links). -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Android Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Retour de l'OAuth Clerk (Google) ouvert dans le navigateur :
                 lymarks://oauth/<strategie>?rotating_token_nonce=... (ADR-010).
                 singleTop : le lien arrive dans l'instance deja ouverte. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="lymarks" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- Cible du menu de partage (PRD F1). Activite transitoire et
             translucide : pas d'historique, pas d'entree dans les recents,
             aucune affinite de tache. Elle s'affiche par-dessus l'app source
             et disparait des l'enregistrement, sans jamais ouvrir Lymarks
             (UX Bible regle 2). -->
        <activity
            android:name=".ShareActivity"
            android:label="Lymarks"
            android:exported="true"
            android:launchMode="standard"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/ShareTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/ShareTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- « Open original » : depuis Android 11, une app ne voit les autres
             que si elle les declare. Sans ces deux intentions, url_launcher
             ne trouve aucun navigateur et le bouton reste sans effet. Les
             deux schemes sont declares : le pipeline accepte 80 et 443. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
    </queries>
</manifest>
